.wbycNav {
    background-color: #38495a;
}

.logo-full img {
    padding: 3px 40px 3px 0;
    border-right: 1px solid white;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #235A99;
}